*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
    background: yellowgreen;
}
.card{
  background: white;
  margin: 150px 50px 50px 50px;
  border-spacing: 5px;
  box-shadow: 2px 2px 9px 2px #DDD;
}
.card .cardImage{
  padding-top: 50px;
}
.cardImage img{
  width: 200px;
  height: 200px;
  border: 3px solid magenta;
  border-radius: 50%;
}
.cardText{
  margin-top: 30px;
}
.cardText h4{
  font-size: 25px;
  opacity: 0.7;
  margin: 1px;
}
.cardText p{
  font-size: 20px;
  opacity: 0.5;
  margin: 2px;
}
.cardText button{
  margin: 40px 0px;
  padding: 10px;
  font-size: 20px;
  border: 10px solid magenta;
  border-radius: 10px;
  background: magenta;
  color: white;
  font-weight: bold;
}